@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{
    width: 100%;
    display: block;
    color: v.$blanco;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: v.$bold;
    text-transform: uppercase;
    padding: calc(v.$separacion / 4);

    &.error{
        background-color: v.$rojo;
    }

    &.exito{
        background-color: v.$verde;
    }
}